body{
  background-color: lightblue;
}




.container{
  padding: 24px;
  background-color: white;
  width: 319px;
  height: 50px;
  padding-bottom: 60px;
  margin-right: 45px;
}
.cont-values{
  display: flex;
  justify-content: space-between;
}
.cont-values>input{
  border-radius: 4px;
  border: 1px solid lightgray;
  width: 40px;
  height: 20px;
  padding: 4px;
  text-align: center;
}
.cont-values>input:focus{
  outline: none;
}
.slider-container{
  width: 100%;
  height: 20px;
  margin: 15px 0;
  position: relative;
}

.slider-line-background{
  position: absolute;
  margin-top: 16px;
  width: 100%;
  height: 2px;
  background-color: grey;
}
.flexible-slider-container{
  top: 0;
  position: relative;
  width: calc(100% - 32px);
  margin: 0 auto;
  height: 2px;
}
.slider-line{
  height: 2px;
  position: absolute;
  background-color: #ED1C24;
  margin-top: 16px;
}
.dot{
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  border: 2px solid #ED1C24;
  background-color: white;
  z-index: 5;
  cursor: grab;
  position: absolute;
}
#slider-dot-start{
  transform: translateX(-50%);
}
#slider-dot-end{
  transform: translateX(-50%);
}
